/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}


ul {
    display: flex;
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fbfbfb;
    font-size: 18px;
    line-height: 1.2;
    color:#0f0f0f;
    min-height: 100vh;
}

h1{
    font-size: 36px;
    text-align: center;
}

h2{
    font-size: 28px;
    text-align: center;
    color: var(--bd-primario) !important;
}

p{
    margin: 20px 0px;
    padding: 20px 0px;
    text-align: justify;
}
.imagen_inicio{
    margin-bottom: 20px;
}


.imagen_inicio img{
    width: 400px;
    margin-top: 80px;
}

.logo{
    width:40%;
}

.logo-nombre{
    width:10%;
}

.menu{
    display: flex;
    font-size: 20px;
    color: white;
}

.menu li a{
    padding: 16px;
    border-radius: 5px;
}


.menu-item{
    padding: 16px;
    
} 

.active{
    background-color: #C3D5C5;
    transition: 0.5s;
}


/* Footer */
footer {
    color: #fbfbfb;
    text-align: center;
    padding: 24px;
    height: 90px;
    background-color: #33331587; 
    margin-left: 20px; 
    margin-right: 20px; 
}

footer p{
    text-align: center;
    padding: 0px 0px;
}

.page-footer.dark {
    --bs-bg-opacity: 1;
    background-color: #333315;
  }

  .clean-block.dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}
  

section{
padding-top: 40px;

}

#inicio{
    justify-content: space-around;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.iconos img{
    width: 50px;
    padding: 0px 0px; 
    margin: 0px 0px;
}

.input-dni{
    width: 20% !important;
}

.input-dni2{
    width: 80% !important;
}
.boton-turno{
    justify-content: center;
    display: flex;
    align-items: center;
}


#contacto{
    background-color: #76A78C;
    border-radius: 20px;
}

.clean-block {
    padding-bottom: 50px;
}

.clean-block .block-heading {
    margin-bottom: 40px;
    text-align: center;
    padding-top: 150px;
}

.text-info {
    --bs-text-opacity: 1;
}

.flex{
    display: flex !important;
}

.error-mensaje {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@media (min-width: 576px){
    .clean-navbar.fixed-top+.page {
        padding-top: 5rem;
}

.clean-block {
    padding-bottom: 100px;
}

.clean-block .block-heading {
    padding-top: 80px;
}

.login-text {
    padding-top: 150px !important;
    padding-bottom: 50px !important;
}

}
  
.clean-block .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: .7;
}

.clean-block .content {
    --bs-bg-opacity: 1;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity));
}

.clean-block.clean-cart .items {
    padding: 36px;
}

.clean-block.clean-cart .items .product .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 2px solid #f0f0f0;
}

.clean-block.clean-form form {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity));
    border-top: 2px solid #5ea4f3;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.075);
}

.login{
    max-width: 500px;
}

.center{
    text-align: center;
}

.clean-block.clean-cart .summary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
    height: 100%;
    padding: 30px;
}
h3{
    color: var(--bd-primario)  !important;
}

.clean-block.clean-cart .summary h3, .clean-block.clean-cart .summary .h3 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--bs-primary-text-emphasis);
}

.clean-block.clean-cart .summary h4:first-of-type, .clean-block.clean-cart .summary .h4:first-of-type {
    border-top: 1px solid var(--bs-primary-border-subtle);
    padding-top: 18px;
}

.clean-block.clean-cart .summary h4, .clean-block.clean-cart .summary .h4 .text {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity));
    padding-bottom: 18px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.clean-block.clean-cart .summary button {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1em;
    padding: 10px 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-body {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

.clean-navbar.fixed-top, .clean-navbar.fixed-bottom {
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
}

.clean-navbar .logo {
    font-size: 1.5rem;
}

:root {
    --bd-primario: #0072BB;
    --bs-blanco: #FAF9FF;
    --bs-secundario:#66BB6A;
  }



.btn-bd-primary {
    --bs-btn-font-weight: 600;
    color: var(--bs-blanco) !important;
    --bs-btn-color: var(--bs-secundario);
    --bs-btn-bg: var(--bd-primario) !important;
    --bs-btn-border-color: var(--bd-primario) !important;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-secundario);
    --bs-btn-hover-bg: var(--bs-secundario);
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  }


/* Media query */
@media (max-width: 1024px) {

    .logo{
        width:60%;
    }
    
    .logo-nombre{
        width:30%;
    }
    h2, .h2 {
        font-size: 2rem;
    }

    .boton_cv{
        text-align: left;
    
    }

    h1{
        font-size:48px;
        text-align: left;
    }

    .presentacion{
        width:50%;
        text-align:left;
    }

    .presentacion p{
        text-align: left;
    }

    .imagen_inicio img{
        margin-top: 20px;
        border: 2px solid;
    }

  }