/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Para que el scrolleo en la one page sea suave */
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Usamos la fuente Roboto */
    background-color: #FAF9FF;
    font-size: 18px;
    line-height: 1.2;
    color: #0f0f0f;
}

/* Navbar */
.navbar {
    background-color: transparent;
}

.navbar-brand .logo {
    width: 40%;
}

.menu {
    display: flex;
    font-size: 20px;
    color: white;
}

.menu li a {
    padding: 16px;
    border-radius: 5px;
}

.active {
    background-color: #C3D5C5;
    transition: 0.5s;
}

footer {
    color: #fbfbfb;
    text-align: center;
    padding: 24px;
    height: 90px;
    background-color: #333315;
}

/* Media query */
@media (max-width: 1024px) {
    .logo {
        width: 60%;
    }
    
    .menu li a {
        padding: 12px; /* Reducimos el padding del menú para dispositivos más pequeños */
    }
}
